In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("Parks_Data.csv")

In [23]:
acres_sum = df.ACRES.sum()

In [24]:
#from https://en.wikipedia.org/wiki/Boroughs_of_New_York_City
queens_acres = 69760
brooklyn_acres = 45325
manhattan_acres = 14611
bronx_acres = 26880
staten_island_acres = 37440
nyc_total_acres = queens_acres + brooklyn_acres + manhattan_acres + staten_island_acres + bronx_acres

In [25]:
percent_parks = (acres_sum / nyc_acres_total) * 100

In [26]:
print(percent_parks)

16.041826595251866

In [35]:
df

,ACQUISITIONDATE,ACRES,ADDRESS,BOROUGH,NAME311,SIGNNAME,SUBCATEGORY,TYPECATEGORY,ZIPCODE,LOCATION
0,11/20/02,0.046,NaN,Manhattan,Bradhurst Gardens Association,Bradhurst Gardens Association,Bradhurst Gardens Association,Garden,10039.0,W. 152 St. and Fredrick Douglas Blvd.
1,1/15/68,2.391,658 DE KALB AVENUE,Brooklyn,Kosciuszko Pool,Kosciuszko Pool,Building,Buildings/Institutions,11216.0,Marcy Ave. between Kosciuszko St. and Dekalb Ave.
2,1/13/95,0.452,33-12 108 STREET,Queens,Louis Armstrong Community Center,Louis Armstrong Community Center,Building,Buildings/Institutions,11368.0,"107 St., 108 St. bet. Northern Blvd. and 34 Ave."
3,1/19/70,0.817,32-23 99 STREET,Queens,Fisher Pool,Fisher Pool,Building,Buildings/Institutions,11369.0,32 Ave. bet. 99 St. and 100 St.
4,3/13/69,1.640,2435 1 AVENUE,Manhattan,Wagner Houses Pool,Wagner Houses Pool,Building,Community Park,10035.0,E. 124 St. bet. 1 Ave. and 2 Ave.
...,...,...,...,...,...,...,...,...,...,...
2024,11/20/02,0.037,2014 LA FONTAINE AVENUE,Bronx,Garden,United Gardens,NaN,Undeveloped,10457.0,La Fontaine Ave. bet. E. 178 St. and E. 179 St.
2025,12/6/16,2.734,NaN,Brooklyn,Park,Park,NaN,Undeveloped,11224.0,Coney Island Boardwalk bet. W. 16 St. and W. 1...
2026,11/28/18,2.250,NaN,Bronx,Park,Park,NaN,Undeveloped,10451.0,Exterior St. bet. E. 144 St. and E. 146 St.
2027,11/21/17,0.318,20-06 NAMEOKE AVENUE,Queens,Park,Park,NaN,Undeveloped,11691.0,Nameoke Ave. bet. Brunswick Ave. and Augustina...
2028,12/1/17,70.600,NaN,Staten Island,Arlington Marsh Park,Arlington Marsh Park,NaN,Undeveloped,10303.0,Richmond Terrace bet. Catherine Pl and Holland...

In [34]:
df.BOROUGH = df.BOROUGH.replace({
    "M": "Manhattan",
    "B": "Brooklyn",
    "Q": "Queens",
    "R": "Staten Island",
    "X": "Bronx"
})

In [36]:
df.BOROUGH.value_counts()

Brooklyn         614
Queens           476
Bronx            393
Manhattan        386
Staten Island    160
Name: BOROUGH, dtype: int64

In [39]:
acres_parks_per_borough = df.groupby(by="BOROUGH").ACRES.sum()

In [40]:
acres_parks_per_borough

BOROUGH
Bronx            7225.151366
Brooklyn         4857.161000
Manhattan        2872.167000
Queens           8228.979834
Staten Island    7664.075000
Name: ACRES, dtype: float64

In [51]:
df_usable = pd.read_csv("Parks_Data_Usable.csv")

In [52]:
df.BOROUGH = df.BOROUGH.replace({
    "M": "Manhattan",
    "B": "Brooklyn",
    "Q": "Queens",
    "R": "Staten Island",
    "X": "Bronx"
})

In [54]:
acres_usable_sum = df_usable.ACRES.sum()

In [55]:
percent_usable_parks = (acres_usable_sum / nyc_acres_total) * 100

In [56]:
percent_usable_parks

13.011838732916821

In [58]:
acres_usable_parks_per_borough = df_usable.groupby(by="BOROUGH").ACRES.sum()

In [59]:
acres_usable_parks_per_borough

BOROUGH
B    3786.763000
M    2775.951000
Q    6422.674854
R    5693.170000
X    6342.478366
Name: ACRES, dtype: float64